@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager

@if (_signInManager.IsSignedIn(User)) {

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @User.Identity.Name
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" asp-action="Logout" asp-controller="Account">Logout</a>
        </div>
    </li>
}

else {

    <li class="nav-item">
        <a class="btn btn-outline-primary" asp-controller="Account" asp-action="LogIn">Login</a>
        <a asp-controller="Account" asp-action="SignUp" class="btn btn-primary">Registration</a>
    </li>
}