@model BookModel
<h1 class="text-center">GetBook</h1>
<div class="row justify-content-center">
    <div class="col">
        <h4>@Model.Id</h4>
        <h4>@Model.Title</h4>
        <h4>@Model.Author</h4>

    </div>
</div>